*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea*
app/keystore.jks
app/keystore.properties
app/libs/
app/release/
keys.properties
local.properties
app/version.properties
